/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    --color-primary-light: #005F73;
    --color-primary-dark: #001219;
    --color-secondary-light: #EE9B00;
    --color-secondary-dark: #CA6702;
    --color-text-primary: #FAF9F6;
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-2 h-2;
    }    

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-primary-light;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-primary-light/80;
    }

    ::-webkit-scrollbar-thumb:active {
        @apply bg-primary-light/60;
    }
}
