<div class="w-full-safe h-fit bg-primary-dark mb-10 px-5 py-3 flex flex-row justify-between items-center">
<h1 class="text-2xl font-extrabold text-secondary-light justify-start align-center">
    DDRM
</h1>

<div class="flex flex-row justify-end">
<app-redirect-button [route]="'/orice'" [imageUrl]="'assets/favorite.svg'"/>
<app-redirect-button [route]="'/orice'" [imageUrl]="'assets/shopping_cart.svg'"/>
<app-redirect-button [route]="'/orice'" [imageUrl]="'assets/account_circle.svg'"/>
</div>

</div>
