<div class="max-w-6xl mx-auto p-6 bg-primary-dark rounded-2xl flex flex-col md:flex-row gap-8 shadow-lg shadow-white/20">

  <div class="w-full md:w-1/2">
    <img [src]="imageUrl()" [alt]="name()" class="w-full h-[400px] object-cover rounded-xl shadow-lg" />
  </div>

  <div class="w-full md:w-1/2 flex flex-col justify-between py-2">
    <div>
        <div class="flex flex-row justify-between">
            <span class="text-secondary-light font-bold uppercase tracking-widest text-sm">{{ category() }}</span>
            <app-action-button 
                text="" 
                url="assets/favorite.svg" 
                (buttonClick)="handleFavorite()" />
        </div>
      <h1 class="text-4xl font-extrabold text-text-primary mt-2 mb-4">{{ name() }}</h1>
      <p class="text-text-primary opacity-80 leading-relaxed mb-6 text-lg">{{ description() }}</p>
      <div class="text-4xl font-black text-secondary-light mb-8">{{ price() }} lei</div>
    </div>

    <div class="space-y-6 mb-10">
      <div class="flex items-center gap-4">
        <div class="flex items-center border-2 border-secondary-light rounded-xl h-fit overflow-hidden">
          <button (click)="decrement()" class="px-4 py-2 text-text-primary hover:bg-secondary-light hover:text-primary-dark duration-200 font-black">-</button>
          <span class="px-6 text-text-primary font-bold min-w-[50px] text-center">{{ quantity() }}</span>
          <button (click)="increment()" class="px-4 py-2 text-text-primary hover:bg-secondary-light hover:text-primary-dark duration-200 font-black">+</button>
        </div>

        <app-action-button 
          text="" 
          url="assets/shopping_cart.svg" 
          (buttonClick)="handleAddToCart()" />
      </div>
          
    </div>
  </div>
</div>